@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Roboto:wght@500&display=swap');

body{
   font-family:'Roboto', sans-serif ;
   background-color: #050505;
   color: #fff;
   margin: 0;
}

.hide {
   display: none !important;
}








.btn {

   display: flex;
   align-items: center;
   justify-content: center;

   text-transform: uppercase;
   font-style: 16px;
   font-weight: 500;

   width: 165px;
   height: 50px;
   background: #b55121;
   border-radius: 5px;

}

/* 
.img-section {
   background-color: #0A0A0A;
} */


.common-section {

   margin-top: -30px;
   text-align: center;
   padding: 80px 0;
}



.common-section--bark {
   background-color: #192024;

}

.common-section--bark * {
   color: #fff;

}

.common-section--bark .subtitle {
   color: #e8e8e8;

}














ul{
   list-style: none;
}


a {
   color: #fff;
   text-decoration: none;
}
.container
{
   max-width: 1200px;
   margin: 0 auto;
}

/*Header*/

.header {
   padding: 25px 10px;
}

.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.logo {
   width: 80px;
   height: 80px;
}







.header__nav a {

   font-size: 14px;
   opacity: 0.7;
   transition: opacity 0.3s;
}



.header__nav a.active {

   opacity: 1;

}

.header__nav a:hover {

   opacity: 0.9;

} 


.header__list {
   display: flex;
   gap: 30px;
}

/*Welcome*/


.welcome {
                     box-sizing: border-box;
                  min-height: 92vh;
                    margin-top: -130px ;
            padding: 250px  ;
      background-image: url("./img/pizza-2.jpeg");
      z-index: 1;
               background-repeat: no-repeat ;
         background-size: cover;
               background-position: center;
}

.welcome::after {
content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
      height: 50%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
      pointer-events: none;
}



/* .welcome::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 0;
   
} */


         .welcome__text
         {
            width: 550px;

         }
         
         
         .welcome__subtitle {
          margin-bottom: 7px;
            font-size: 14px;
         letter-spacing: 0.1em;

         }
         
         .welcome__title {

            font-size: 58px;
                
         }
         
         .welcome__desc {
                     margin: 40px 0;
            font-size: 18px;
            opacity: 0.7;
         }
         
        















.tabs__nav {
   margin-bottom: 50px;

}

.tabs__nav button {
   padding: 0 30px;
   font-style: 16px;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #fff;
   background-color: #92a0ad;
   border-radius: 4px;
}

.tabs__nav button.active {
   background-color: #2e80b6;
}

.tabs__nav button+button {
   margin-left: 15px;
}



.tabs__item {
   animation: fade 1s;
}

@keyframes fade {
   from {
      opacity: 0.3;

   }

   to {
      opacity: 1;

   }
}



.tabs__item img {
   margin-bottom: 15px;
   max-width: 300px;
      max-height: 200px;


   margin-right: 15px;
}

.tabs__item h4 {
   margin-bottom: 15px;
   font-style: 31px;
   line-height: 36px;
   color: #676770;
}

.tabs__desc {
   max-width: 720px;
   margin: 0 auto;

}




























